.biodata-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 40px;
  background-color: #fff;
  position: relative;
  flex-wrap: wrap;
}

.image-left,
.image-right {
  width: 20%;
  min-width: 100px;
}

.image-left img,
.image-right img {
  width: 100%;
  height: auto;
}

.biodata-content {
  width: 100%;
  text-align: center;
  padding: 0 20px;
}

.biodata-content h2 {
  font-size: 28px;
  color: #511845;
  font-weight: 700;
  margin-bottom: 15px;
  line-height: 1.4;
}

.biodata-content .highlight {
  color: #e91e63;
}

.decor-line {
  font-size: 20px;
  margin-bottom: 30px;
}

.biodata-buttons {
  display: flex;
  justify-content: center;
  gap: 10%;
  flex-wrap: wrap;
}

.card {
  background-color: #fff;
  border-radius: 12px;
  padding: 20px 25px;
  text-align: center;
  width: 220px;
  
  transition: all 0.3s ease;
  cursor: pointer;
}

.card p {
  margin-top: 10px;
  font-weight: 600;
  color: #e91e63;
}

.card-icon {
  font-size: 40px;
}

.yellow {
  color: #fbc02d;
}

.red {
  color: #e53935;
}

.filled {
  background-color: #fff8f9;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
