.hero {
  background: #581845;
  color: #fff;
  padding: 60px 20px;
  text-align: center;
}

.hero span {
  color: #ff69b4;
}

.search-form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.search-form select, .search-form button {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.search-form button {
  background-color: #ff69b4;
  color: #fff;
}
